# FreeCAD backup and temp files
*.FCStd1
*.bak
*.tmp

# STL exports (optional – remove this if you WANT to upload STL)
#3DModels/STL/*
Java/bin/*
Java/temp/*
Java/*.jar


# Python / Java / Arduino junk
__pycache__/
*.class
*.o
*.obj
*.log
*.todo

# OS junk
.DS_Store
Thumbs.db
